{% macro product_card(item, settings, cart_products) %}
	{%- set title = item.web_item_name or item.item_name or item.item_code -%}
	{%- set title = title[:50] + "..." if title|len > 50 else title -%}
	{%- set image = item.website_image or item.website_item_thumbnail -%}
	{%- set description = item.website_description or item.description -%}
	{%- set product_info = get_product_info(item.item_code) -%}
	{%- set product_reviews = get_product_reviews(item.name or frappe.db.get_value('Website Item', {'item_code': item.item_code}, 'name')) -%}

	<div class="group reveal__left" itemscope itemtype="http://schema.org/Product">
		<div
			class="relative overflow-hidden shadow dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
			<a href="/{{ item.route or '#' }}">
				<img src="{{ image }}" itemprop="image"
					 class="group-hover:scale-110 w-100 duration-500" alt="{{ title }}">
			</a>

			<div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
				{% if item.item_code in cart_products %}
					<a href="/cart" data-item-code="{{ item.item_code }}"
					   class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-slate-900 text-white w-full rounded-md">
						{{ "Go to Cart" if settings.enable_checkout else "Go to Quote" }}
					</a>
				{% else %}
					{% if item.has_variants == 1 or item.price_info == None %}
						<a style="visibility: visible" href="/{{ item.route or '#' }}"
						   class="btn-explore-variants text-sm py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-slate-900 text-white w-full rounded-md">
							Explore
						</a>
					{% else %}
						<button data-item-code="{{ item.item_code }}"
								onclick="webshop.webshop.shopping_cart.update_cart({
									item_code: '{{ item.item_code }}',
									qty: 1
									})"
								class="btn-add-to-cart py-2 px-5 text-sm inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-slate-900 text-white w-full rounded-md">
							{{ "Add to Cart" if settings.enable_checkout else "Add to Quote" }}
						</button>
					{% endif %}
				{% endif %}
			</div>

			<ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500 space-y-1">
				<li>
					<button data-item-code="{{ item.item_code }}"
							class="like-action-item-fp size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow">
						<i
							data-feather="heart" class="size-4 wish-icon not-wished"></i></button>
				</li>
				<li class="mt-1"><a href="/{{ item.route or '#' }}"
									class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow"><i
					data-feather="eye" class="size-4"></i></a></li>
			</ul>
			{% if product_info.discount_percent %}
				<ul class="list-none absolute top-[10px] start-4">
					<li><a href="javascript:void(0)"
						   class="bg-orange-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5"><span
						itemprop="discount">{{ product_info.discount_percent }}%</span> Off</a>
					</li>
				</ul>
			{% endif %}
		</div>

		<div class="mt-4">
			<a href="/{{ item.route or '#' }}" itemprop="name"
			   class="hover:text-orange-500 font-medium text-ellipsis lg:text-lg md:text-base text-sm">{{ title }}</a>
			<div class="flex justify-between flex-wrap items-center mt-1">
				{% if settings.show_price %}
					<p class="lg:text-lg md:text-base text-xs" itemprop="offers" itemscope
					   itemtype="http://schema.org/Offer">
						<span class="hidden"
							  itemprop="price">{{ product_info.price_list_rate }}</span>
						<span>{{ product_info.formatted_price }}</span>
						<meta itemprop="priceCurrency" content="BDT">
						<!-- Adjust the currency accordingly -->
						{% if product_info.formatted_mrp %}
							<del class="text-slate-400 text-xs" itemprop="price"
								 content="{{ product_info.formatted_mrp }}">
								{{ product_info.formatted_mrp }}
							</del>
						{% endif %}
					</p>
				{% endif %}
				{% if product_reviews %}
					<ul class="font-medium text-amber-400 list-none" itemprop="aggregateRating"
						itemscope itemtype="http://schema.org/AggregateRating">
						<meta itemprop="ratingValue"
							  content="{{ product_reviews.average_rating }}">
						<meta itemprop="reviewCount"
							  content="{{ product_reviews.review_count or 0 }}">
						{% set full_stars = product_reviews.average_rating|int %}
						{% set has_half_star = (product_reviews.average_rating - full_stars) >= 0.5 %}
						{% set total_stars = 5 %}

						{% for i in range(full_stars) %}
							<li class="inline"><i
								class="mdi mdi-star  lg:text-lg md:text-base text-xs"></i></li>
						{% endfor %}

						{% if has_half_star %}
							<li class="inline"><i
								class="mdi mdi-star-half  lg:text-lg md:text-base text-xs"></i>
							</li>
						{% endif %}

						{% for i in range(total_stars - full_stars - (1 if has_half_star else 0) ) %}
							<li class="inline"><i
								class="mdi mdi-star-outline  lg:text-lg md:text-base text-xs"></i>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

			</div>
		</div>
	</div><!--end content-->
{% endmacro %}
