{% extends 'templates/web.html' %}

{% block page_content %}
	{% set current_user = frappe.get_doc("User", frappe.session.user) %}
	<!-- Start Hero -->
	<section class="relative lg:pb-24 pb-16 md:mt-[84px] mt-[70px] page-content">
		<div class="md:container container-fluid relative">
			<div
				class="relative overflow-hidden md:rounded-md shadow dark:shadow-gray-700 h-52 bg-center bg-no-repeat bg-cover"
				style="background-image: url('/assets/ecommerce_theme/images/hero/pages.jpg')"></div>
		</div><!--end container-->

		<div class="container relative md:mt-24 mt-16">
			<div class="md:flex">
				<div class="lg:w-1/4 md:w-1/3 md:px-3">
					<div class="relative md:-mt-48 -mt-32">
						<div
							class="p-6 rounded-md shadow dark:shadow-gray-800 bg-white dark:bg-slate-900">
							<div class="profile-pic text-center mb-5">
								<input id="pro-img" name="profile-image" type="file" class="hidden"
									   onchange="loadFile(event)"/>
								<div>
									{% set user_info = frappe.utils.get_user_info_for_avatar(current_user.name) %}
									{% if user_info.image %}
										<div class="relative h-28 w-28 mx-auto">
											<img src="{{ user_info.image }}"
												 class="rounded-full shadow dark:shadow-gray-800 ring-4 ring-slate-50 dark:ring-slate-800"
												 id="profile-image" alt=""
												 title="{{ user_info.name|e }}">
											<label class="absolute inset-0 cursor-pointer"
												   for="pro-img"></label>
										</div>
									{% else %}
										<div
											class="relative inline-flex items-center justify-center  h-28 w-28 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600mx-auto">
											<span
												title="{{ user_info.name|e }}"
												class="font-medium text-gray-600 dark:text-gray-300">{{ frappe.utils.get_abbr(user_info.name).upper() }}</span>
										</div>

									{% endif %}

									<div class="mt-4">
										<h5 class="text-lg font-semibold">{{ current_user.full_name }}</h5>
										<p class="text-slate-400">{{ current_user.email }}</p>
									</div>
								</div>
							</div>

							<div class="border-t border-gray-100 dark:border-gray-700">
								<ul class="list-none sidebar-nav mb-0 pb-0" id="navmenu-nav">
									<li class="navbar-item account-menu">
										<a href="/me"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="airplay"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Account</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="/address/list"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="edit"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Billing Info</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="#"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="credit-card"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Payment</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="user-invoice.html"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="file-text"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Invoice</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="user-social.html"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="share-2"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Social Profile</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="user-notification.html"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="bell"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Notifications</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="user-setting.html"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="settings"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Settings</h6>
										</a>
									</li>

									<li class="navbar-item account-menu">
										<a href="lock-screen.html"
										   class="navbar-link text-slate-400 flex items-center py-2 rounded">
											<span class="me-2 mb-0"><i data-feather="log-out"
																	   class="size-4"></i></span>
											<h6 class="mb-0 font-medium">Sign Out</h6>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				{% block profile_content %}

				{% endblock %}

			</div><!--end grid-->
		</div><!--end container-->
	</section><!--end section-->
	<!-- End Hero -->
	<style>
		@media (min-width: 576px) {
			.tagline-height {
				top: 0 !important;
			}
		}
	</style>
{% endblock %}
